@Model

@{
    Layout = "_Layout";
}

<<div class="text-center">
     <a class="link-dark" asp-area="" asp-controller="BSTU" asp-action="Index">BSTU/Index</a>
     <a class="link-dark" asp-area="" asp-controller="FLT" asp-action="FLT_LV">FLT/FLT_LV</a>
     <a class="link-dark" asp-area="" asp-controller="FLT" asp-action="FLT_LU">FLT/FLT_LU</a>
     <a class="link-dark" asp-area="" asp-controller="FLT" asp-action="FLT_LZ">FLT/FLT_LZ</a>
 </div>