@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lab3B</h1>
    <p>Для смены пароля нажмите на имя вашей почты в правом углу</p>
    <p>Для перехода режим администратора авторизуйтесь под логином admin@belstu.by и паролем -Qwerty12345</p>
    <p>Для перехода в Calc зайдите под пользователем имеющи роль "Master" или "Employee"</p>
</div>