@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="link-dark" asp-area="" asp-controller="FIT" asp-action="Index">FIT/Index</a>
    <a class="link-dark" asp-area="" asp-controller="FLT" asp-action="Index">FLT/Index</a>
    <a class="link-dark" asp-area="" asp-controller="FIE" asp-action="Index">FIE/Index</a>
</div>
