
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
     <form method="post" action="/Dict/DeleteSave">
            <input type="text" name="id" placeholder="Id" required/>
            <input type="submit" placeholder="surname"/>
        </form>
</div>
</body>
</html>