

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Add</title>
</head>
<body>
<div>
    <form method="post" action="/Dict/AddSave">
        <input type="text" name="surname" placeholder="surname"/>
        <input type="text" name="phone" placeholder="phone"/>
        <input type="submit" placeholder="surname"/>
    </form>
</div>
</body>
</html>