

@{
    Layout = "_Layout";
}
<div>
    <form method="post" action="/Dict/AddSave">
        <input type="text" name="surname" placeholder="surname"/>
        <input type="text" name="phone" placeholder="phone"/>
        <input type="submit" placeholder="surname"/>
    </form>
</div>
