a{
    all: unset;
    font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
    font-size: 18px;
    cursor: pointer;
}
a:hover{
    color: #595959;
}

.handleRoutes{
    display: flex;
    flex-direction: row;
    max-width: 80vh;
    justify-content: space-around;
    gap: 32px 32px;
}