

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post" action="/Dict/UpdateSave">
        <input type="text" name="id" placeholder="Id" required/>
        <input type="text" name="newSurname" placeholder="surname"/>
        <input type="text" name="newPhone" placeholder="phone"/>
        <input type="submit" placeholder="surname"/>
    </form>
</div>
</body>
</html>