<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/layout.css"/>
</head>
<body>
<main class="wrapper">
<header class="header">
    <div class="title">PhoneBook App</div>
</header>
<div class="container">
@RenderBody()
</div>
<footer class="footer">
    <div>Phonebook app</div>
    <div>Powered by stanislaw Skalkovich ©</div>
</footer>
</main>
</body>
</html>