
@{
    Layout = "_Layout";
}


<div class="container text-center">
    <p>Start/Index</p>
    <a class="link-dark" asp-controller="Start" asp-action="One">Start/One</a>
    <a class="link-dark" asp-controller="Start" asp-action="Two">Start/Two</a>
    <a class="link-dark" asp-controller="Start" asp-action="Three">Start/Tree</a>
</div>
