@Model

@{
    Layout = "_Layout";
}

<div class="text-center">
    <a class="link-dark" asp-area="" asp-controller="BSTU" asp-action="Index">BSTU/Index</a>
    <a class="link-dark" asp-area="" asp-controller="FIE" asp-action="FIE_TM">FIE/FIE_TM</a>
    <a class="link-dark" asp-area="" asp-controller="FIE" asp-action="FIE_UR">FIE/FIE_UR</a>
    <a class="link-dark" asp-area="" asp-controller="FIE" asp-action="FIE_UP">FIE/FIE_UP</a>
</div>