
<!DOCTYPE html>

<html>
<head>
    <title>Lab7</title>
    <link rel="stylesheet" href="~/css/layout.css"/>
</head>
<body>
<header class="header">
    <nav>
        <span class="title">Приложение</span>
        <ul class="menu-list">
            <li><a>Домашняя страница</a></li>
            <li><a>Иформация</a></li>
            <li><a>Связаться</a></li>
            <li><a>BSTU/Index</a></li>
        </ul>
        <ul>
            <li><a>Здравсвуйте, sss@gmail.com!</a></li>
            <li><a>Выйти</a></li>
        </ul>
    </nav>
</header>
<main class="main">
    <div class="content">
        @RenderBody()
    </div>
</main>
<footer class="footer">
</footer>
</body>
</html>