@{
    float? x = ViewBag.x;
    float? y = ViewBag.y;
}
<div class="form-group">
    <label class="form-label" for="x-val"></label>
    <input class="form-control" type="text" id="x-val" name="x" value="@x"/>
</div>
<div class="form-group">
    <label class="form-label" for="y-val"></label>
    <input class="form-control" type="text" id="y-val" name="y" value="@y"/>
</div>

