<div class="d-flex flex-row justify-content-between">
    <a class="link-dark" href="/Calc/Sum" >Sum</a>
    <a class="link-dark" href="/Calc/Sub" >Sub</a>
    <a class="link-dark" href="/Calc/Mul" >Mul</a>
    <a class="link-dark" href="/Calc/Div" >Div</a>
</div>
