<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link  rel="stylesheet" href="~/css/_Layout.scss"/>
</head>
<body>
<main class="wrapper">
<header class="header">
    <div class="title-conteiner"><span class="title">PhoneBook App</span></div>
</header>
<div class="container">
@RenderBody()
</div>
<footer class="footer">
    <div>Phonebook app</div>
    <div>Powered by stanislaw Skalkovich ©</div>
</footer>
</main>
</body>
</html>