@Model

@{
    Layout = "_Layout";
}

<div class="text-center">
    <a class="link-dark" asp-area="" asp-controller="BSTU" asp-action="Index">BSTU/Index</a>
    <a class="link-dark" asp-area="" asp-controller="FIT" asp-action="FIT_IS">FIT/FIT_IS</a>
    <a class="link-dark" asp-area="" asp-controller="FIT" asp-action="FIT_PI">FIT/FIT_PI</a>
    <a class="link-dark" asp-area="" asp-controller="FIT" asp-action="FIT_ID">FIT/FIT_ID</a>
</div>